body {
    background-color: #BFD8AF;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    margin: 0;
    }

h1 {
    color: #000;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid #000;
    }

h2 {
    font-size: 1.5em;
    color: #000000
}
.image {
    border-radius: 20px;
}

a:link,
a:visited {
    color: #9EB25D;
}

a:hover {
    text-decoration: none;
}

.table_nutrition {
    border: 3px solid;
    color:#000;
    border-collapse: collapse;
    font-size: 1rem;
}
td, th {
    border: 1px solid rgb(0,0,0);
    padding: 10px 20px;
  }
  th {
    background-color: #99BC85;
  }
  
  td {
    text-align: center;
  }

  .padding-top {
    padding-top: 20px;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: 85%;
    border-radius: 20px;
  }

  .flex-container > div {
    background-color: #BFD8AF;
    margin: 10px;
    padding: 20px;
    column-gap: 15px;
    font-size: 1.3rem;
    border-radius: 20px;
  }